[defaults]
inventory = inventory/hosts ; default giymat /etc/ansible/hosts
host_key_checking = False
timeout = 10
forks = 5
remote_user = nodir
private_key_file = /home/nodir/.ssh/id_rsa
log_path = logs/ansible.log
roles_path = roles
interpreter_python = /usr/bin/python3

[privilege]
;become = yes
become_method = sudo ; su / does
become_user = root


[gathering]
gather_facts = yes
gather_subset = all ; network / hardware / minimal

[executing tasks]
strategy = linear ; free / debug /
pipelining = True 
