.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.config
.cshrc
.dbus
.dconf
.docker
.dockerignore
.docker-compose
.docker-compose.override.yml
.dockerignore
.local
.ansible
.dotnet
.ssh
.vscode-server
logs
.wget-hsts
.gitconfig
.redhat
.profile